<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
</head>
<body>
    <header>
        <h1>Add New Recipe</h1>
        <a href="/Dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </header>
    <form action="/AddRecipe" method="post">
        <div>
            <label>Name: </label>
            <input type="text" name='Name'>
            <label>Description: </label>
            <input type="text" name='Description'>
            <label>Instructions: </label>
            <textarea name="Instructions" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="Date_Made_On">Date Made On:</label>
            <input type="date" id="start" name="Date_Made_On"value="2022-01-28"min="2022-01-01" max="2025-12-31">
            <div>
                <label for="Under_30_Minutes">Can be cooked Under 30 minutes?</label>
                <label for="Yes">Yes</label>
                <input type="radio" id='Yes' name="Under_30_Minutes" value="1">
                <label for="No">No</label>
                <input type="radio" id='No' name='Under_30_Minutes' value="0">
            </div>
        </div>
        <button>Create</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="warnings">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>