<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <header>
        <h1>Edit Recipe</h1>
        <a href="/Dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </header>
    <form action="/UpdateRecipe" method="POST">
        <div>
            <label>Name: </label>
            <input type="text" name='Name' value = {{recipe.Name}}>
            <label>Description: </label>
            <input type="text" name='Description' value = {{recipe.Description}}>
            <label>Instructions: </label>
            <textarea name="Instructions" cols="30" rows="10">{{recipe.Instructions}}</textarea>
        </div>
        <div>
            <label for="Data_Made_On">Date Made On:</label>
            <input type="date" id="start" name="Data_Made_On"value="2022-01-28"min="2022-01-01" max="2025-12-31">
            <div>
            {% if recipe.Under_30_Minutes == 0 %}
            <label class="radio-label" for="choice1">Yes</label>
            <input type="radio" id="choice1" name="under_thirty" value="1">
            <label class="radio-label" for="choice2">No</label>
            <input type="radio" id="choice2" name="under_thirty" value="0" checked>
            {% else %}
            <label class="radio-label" for="choice1">Yes</label>
            <input type="radio" id="choice1" name="under_thirty" value="1" checked>
            <label class="radio-label" for="choice2">No</label>
            <input type="radio" id="choice2" name="under_thirty" value="0">
            {% endif %}
            </div>
        </div>
        <button>Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="warnings">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>