<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbortrary</title>
</head>
<body>
    <header>
        <h1>Arbortrary</h1>
        <a href="/Dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </header>
    <div class="Arbortrary">
        <h1>{{Arbortrary.Name}}</h1>
    <h3>Submitted By: {{Arbortrary.creator.First_Name}}</h3>
    <div>
    <h3>Description</h3>
    <p>{{Arbortrary.Location}}</p>
    <h3>Instructions</h3>
    <p>{{Arbortrary.Reason}}</p>
    <h3>Date Planted</h3>
    <p>{{Arbortrary.Date_Planted}}</p>
</body>
</html>