<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbortrary</title>
</head>
<body>
    <header>
        <h1>Arbortrary</h1>
        <a href="/Arbortrary/MyTrees">My Trees</a>
        <h1>Welcome {{users.First_Name}}</h1>
        <h3>A site to track randomly planted trees</h3>
        <a href="/Arbortrary/add"> Plant a Tree</a>
        <a href="/logout">Log Out</a>
    </header>
    <div class="Arbortrary">
        <h1>{{arbortrary.Name}}</h1>
    <h3>Submitted By: {{arbortrary.creator.First_Name}}</h3>
    <div>
    <h3>Description</h3>
    <p>{{arbortrary.Location}}</p>
    <h3>Instructions</h3>
    <p>{{arbortrary.Reason}}</p>
    <h3>Date Planted</h3>
    <p>{{arbortrary.Date_Planted}}</p>
</body>
</html>