<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Arbortrary</h1>
        <h1>Welcome {{user.First_Name}}</h1>
        <h3>A site to track radomly planted trees</h3>
        <a href="/logout">Log Out</a>
        <a href="/Dashboard"> Dashboard</a>
    </header>
    <main>
        <table>
            <h1>Manage My Trees</h1>
            <thead>
                <th>Species</th>
                <th>Date Planted</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for arbortrary in user.Arbortrary %}
                <tr>
                    <td>{{arbortrary.Species}}</td>
                    <td>{{arbortrary.Date_Planted}}</td>
                    <td>
                        <a href="/Arbortrary/{{Arbortrary.ID}}">edit</a>
                        <a href="/Arbortrary/delete/{{Arbortrary.ID}}">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>