.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.container label{
    align-self: center;
    margin-top: 5px;
}

.container select{
    text-align: center;
    margin-top: 5px;
}

button,textarea{
    margin-top: 5px;
}