*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Navigation{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

label, input {
    display: inline-block;
    font-size: larger;
}

label {
    width: 30%;
    text-align: right;
}

input+input {
    float: right;
}


form button {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.Container{
    display: flex;
    justify-content: space-evenly;
}

.Main{
    margin-bottom: 20px;
}

.RegistrationForm{
    flex:1;
    background-color: rgb(0, 255, 21);
    align-items: center;
    height: 220px;
    width: 200px;
    margin: 20%;
    display:inline-block;
}

.LoginForm{
    flex: 1;
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    margin-right: 20%;
    margin-top: 20%;
}